@use "./variables" as *;
 .layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 5.5rem 1.5rem 1.5rem 1.5rem;
    transition: margin-left $transitionDuration;
}

@media (min-width: 992px) {
    .layout-main-container {
        margin-left: 300px;
        padding-left: 1rem;
    }
}

.layout-main {
    flex: 1 1 auto;
}
