<div class="grid">
    <p-toast></p-toast>
    <div class="col-12">
        <ng-container *ngIf="!dialogoCliente">
            <div class="card px-6 py-6">
                <p-toolbar styleClass="mb-4">
                    <ng-template pTemplate="left">
                        <div class="my-2">
                            <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success mr-2"
                                (click)="novo()"></button>
                            <button pButton pRipple label="Excluir" icon="pi pi-trash" class="p-button-danger"
                                (click)="abrirDialogDeletarVarios()"
                                [disabled]="!listaClientesSelecionados || !listaClientesSelecionados.length"></button>

                        </div>
                    </ng-template>

                    <ng-template pTemplate="right">
                        <button pButton pRipple label="Expira em 3 dias!" icon="pi pi-exclamation-triangle"
                            class="p-button-danger mr-2" (click)="filtrarPorVence3Dias()"></button>
                        <button pButton pRipple label="Vencidos!" icon="pi pi-history" class="p-button-warning mr-2"
                            (click)="filtrarPorVencidos()"></button>

                        <button pButton pRipple label="Ativos" icon="pi pi-users" class="p-button-success mr-2"
                            (click)="filtrarPorNaoVencidos()"></button>

                        <button pButton pRipple label="TODOS" icon="pi pi-list" class="p-button-success mr-2"
                            (click)="mostrarTodos()"></button>

                        <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import"
                            chooseLabel="Importar" class="mr-2 inline-block" *ngIf="false"></p-fileUpload>
                        <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help"
                            (click)="dt.exportCSV()" *ngIf="false"></button>
                        <button pButton pRipple label="Exportar" icon="pi pi-file-excel" class="p-button-help"
                            (click)="exportExcel()"></button>

                    </ng-template>
                </p-toolbar>

                <p-table sortField="dataVencimento" styleClass="p-datatable-striped" #dt [value]="listaClientes"
                    [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['valor','nome','id']"
                    [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                    currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} registros"
                    [(selection)]="listaClientesSelecionados" selectionMode="multiple" [rowHover]="true" dataKey="id">
                    <ng-template pTemplate="caption">
                        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                            <h5 class="m-0">Gerenciar Clientes</h5>
                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                                    placeholder="Procurar..." class="w-full sm:w-auto" />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="dataVencimento">Vencimento <p-sortIcon field="dataVencimento">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon>
                            </th>
                            <th>Alerta <p-sortIcon></p-sortIcon>
                            </th>
                            <th pSortableColumn="plano">Plano <p-sortIcon field="nome"></p-sortIcon>
                            </th>
                            <th pSortableColumn="servidor">Servidor <p-sortIcon field="servidor"></p-sortIcon>
                            </th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-cliente>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="cliente"></p-tableCheckbox>
                            </td>
                            <td style="width:10%; min-width:10rem;" (click)="abrirDialogAlterar(cliente)">
                                <span class="p-column-title">Vencimento</span>
                                {{cliente.dataVencimento | date : 'dd/MM/yyyy'}}
                            </td>
                            <td style="width:50%; min-width:10rem;" (click)="abrirDialogAlterar(cliente)">
                                <span class="p-column-title">Nome</span>
                                {{cliente.nome}}
                            </td>
                            <td style="width:10%;">
                                <div class="flex">
                                    <button pButton pRipple icon="pi pi-whatsapp"
                                        class="p-button-rounded p-button-success mr-2"
                                        (click)="abrirWhatsApp(cliente)"></button>
                                </div>
                            </td>
                            <td style="width:10%; min-width:10rem;" (click)="abrirDialogAlterar(cliente)">
                                <span class="p-column-title">Plano</span>
                                {{cliente.plano.nome}}
                            </td>
                            <td style="width:10%; min-width:10rem;" (click)="abrirDialogAlterar(cliente)">
                                <span class="p-column-title">Servidor</span>
                                {{cliente.servidor.nome}}
                            </td>
                            <td style="width:10%;">
                                <div class="flex">
                                    <button pButton pRipple icon="pi pi-pencil"
                                        class="p-button-rounded p-button-success mr-2"
                                        (click)="abrirDialogAlterar(cliente)"></button>
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                        (click)="abrirDialogExcluir(cliente)"></button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </ng-container>

        <p-dialog [(visible)]="dialogoExcluir" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Tem certeza que você deseja excluir <b>{{this.cadastroForm.value.nome}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não"
                    (click)="dialogoExcluir = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim"
                    (click)="excluir()"></button>
            </ng-template>
        </p-dialog>

        <ng-container *ngIf="dialogoCliente">
            <div class="card px-6 py-6">
                <form [formGroup]="cadastroForm" (ngSubmit)="salvarOuAlterar()">

                    <div class="p-fluid grid">
                        <div class="field col-12">
                            <input formControlName="id" type="hidden" pInputText id="id" />
                            <label for="name">Nome:</label>
                            <input formControlName="nome" type="text" pInputText id="name" required autofocus
                                [ngClass]="{'ng-invalid ng-dirty' : cadastroForm.get('nome')?.errors && !cadastroForm.get('nome')}" />
                            <small class="ng-dirty ng-invalid"
                                *ngIf="cadastroForm.get('nome')?.errors && (cadastroForm.get('nome')?.dirty || cadastroForm.get('nome')?.touched)">Nome
                                é obrigatório e deve possuir 3 caracteres no mínimo.</small>
                        </div>
                        <div class="field col-6">
                            <label for="usuario">Usuário:</label>
                            <input formControlName="usuario" type="text" pInputText id="usuario" autofocus
                                maxlength="20" />
                        </div>
                        <div class="field col-6">
                            <label for="email">Email:</label>
                            <input formControlName="email" type="text" pInputText id="email" autofocus maxlength="50" />
                        </div>
                        <div class="field col-6">
                            <label for="telefone">Telefone:</label>
                            <p-inputMask mask="(55) 99-999999999" formControlName="telefone"></p-inputMask>
                        </div>
                        <div class="field col-6">
                            <label for="dataVencimento">Data Vencimento:</label>
                            <p-calendar id="dataVencimento" formControlName="dataVencimento" dateFormat="dd/mm/yy">
                            </p-calendar>
                        </div>
                        <div class="field col-6">
                            <label for="servidor">Servidor:</label>
                            <p-dropdown id="servidor" [options]="listaServidores" formControlName="servidor"
                                placeholder="Selecione um servidor" optionLabel="nome" [showClear]="true"></p-dropdown>
                        </div>
                        <div class="field col-6">
                            <label for="plano">Plano:</label>
                            <p-dropdown id="plano" [options]="listaPlanos" formControlName="plano"
                                placeholder="Selecione um plano" optionLabel="nome" [showClear]="true"></p-dropdown>
                        </div>

                        <div class="field col-12">
                            <label for="observacao">Observação:</label>
                            <textarea formControlName="observacao" pInputTextarea autofocus maxlength="500" [rows]="5"
                                [cols]="30"></textarea>
                        </div>
                        <div class="field col-6">
                            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger"
                                (click)="dialogoCliente = false"></button>
                        </div>
                        <div class="field col-6">
                            <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-success"
                                type="submit" [disabled]="cadastroForm.invalid"></button>
                        </div>
                    </div>
                </form>
            </div>
        </ng-container>

        <p-dialog [(visible)]="dialogoDeleteVarios" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Tem certeza que quer deletar todos os selecionados?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não"
                    (click)="dialogoDeleteVarios = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim"
                    (click)="excluirSelecionados()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
