.tokens {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}
.corpo-textarea {
  min-height: 468px;
}
.card {
  overflow: hidden;
}
.pre-wrap {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: anywhere;
}
