/* You can add global styles to this file, and also import other style files */

@use "assets/dstv/styles/badges";

$gutter: 1rem; //for primeflex grid system
@use "assets/layout/styles/layout/layout" as *;

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.css";
@import "../node_modules/primeicons/primeicons.css";

/* Code Highlight */
@import "../node_modules/prismjs/themes/prism-coy.css";

/* Demos */
@import "assets/dstv/styles/flags/flags.css";

.layout-menu .menu-dashboard .pi {
  color: #2196F3;
  font-size: 1.4rem;
}
.layout-menu .menu-clientes .pi {
  color: #9C27B0;
  font-size: 1.4rem;
}
.layout-menu .menu-servidores .pi {
  color: #FB8C00;
  font-size: 1.4rem;
}
.layout-menu .menu-planos .pi {
  color: #4CAF50;
  font-size: 1.4rem;
}
.layout-menu .menu-mensagem .pi {
  color: #25D366;
  font-size: 1.4rem;
}
.layout-menu .menu-export .pi {
  color: #3F51B5;
  font-size: 1.4rem;
}
